body {
  font-family: muli, Helvetica, Arial, sans-serif;
  position: relative;
  scroll-behavior: smooth;
}
.Hover {
  transition: all 0.5s;
}
.Hover:hover {
  color: white;
  background: #50b04c;
}
@media only screen and (min-width: 960px) {
  body {
    position: relative;
  }
  .home {
    position: absolute;
    top: 5rem;
    background: white;
    border-radius: 12px;
    left: 2rem;
    width: 25rem;
  }
  .launch {
    background-color: white;
    color: #50b04c;
    font-size: 1.5rem;
    font-weight: 800;
  }
  .registration {
    position: fixed;
    top: 0;
    right: 0;
    width: 22%;
    height: 100vh;
    background-color: #ffffff;
  }
  .registration h2 {
    color: #50b04c;
  }
  .registration input {
    font-size: 1.1vw;
    border: 2px solid rgb(206, 198, 198);
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .info {
    max-width: 76vw;
    margin: 1vw 0;
    position: relative;
    left: 0;
  }
}
